$fonts-primary: Roboto, sans-serif;

$fontSizes-H1: 114px;
$fontSizes-hero: 100px;
$fontSizes-number: 72px;
$fontSizes-H2: 48px;
$fontSizes-H3: 36px;
$fontSizes-subtitle: 24px;
$fontSizes-logo: 19px;
$fontSizes-body: 16px;
$fontSizes-small: 15px;

$colors-green: #4b9200;
$colors-lightOrange: #fe9013;
$colors-orange: #e47209;
$colors-yellow: #ffee2e;
$colors-red: #d31414;
$colors-black: #000000;
$colors-fadeBlack: rgba(0, 0, 0, 0.5);
$colors-blueBlack: #333b41;
$colors-darkGray: #404950;
$colors-gray: #767474;
$colors-smokeGray: #ababab;
$colors-lightGray: #f1f3f2;
$colors-glassGray: rgba(196, 196, 196, 0.5);
$colors-glassWhite: rgba(253, 253, 255, 0.52);
$colors-white: #ffffff;

$colors-bamboo: #468e0d;
$colors-banana: #ffee2e;
$colors-meat: #ee8383;
$colors-fish: #7a7871;

$colors-bgOrange: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$colors-bgLightOrange: linear-gradient(
    315.75deg,
    rgba(254, 210, 144, 0.7) 30.06%,
    #febdab 100.95%,
    rgba(254, 210, 144, 0.7) 106.36%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
$colors-bgPink: linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );

$borders-s: 1px solid;
$borders-m: 2px solid;

$radii-s: 2px;
$radii-m: 5px;
$radii-l: 20px;
$radii-xl: 25px;

$animations-default: 0.3s;
$animations-slide: 0.9s;
