<section class="about">
  <div class="container about__container">
    <div class="about__img">
      <picture>
        <source
          media="(max-width: 1365px)"
          srcset="../img/bamboo-cap-small.jpg"
        />
        <img
          src="../img/bamboo-cap.jpg"
          alt="A peasant in a bamboo cap"
          width="609"
          height="403"
        />
      </picture>
    </div>
    <div class="about__info">
      <h2 class="about__title">The Backstage of the Wilderness World.</h2>
      <p class="about__text">
        The site was founded on the basis of a volunteer movement to protect and
        care for animals.
      </p>
      <h3 class="about__subtitle">How it works</h3>
      <p class="about__text">
        The main goal is to help the animals, as well as the nature reserves and
        zoos where they are kept. We are currently working on video projects
        targeting pandas in China, eagles on an island near Los Angeles,
        alligators in Florida and gorillas in the Congo. These have a total of
        more than 1,500 mammals and reptiles.
      </p>
    </div>
  </div>
</section>
