<footer class="footer {{class}}">
  <div class="container footer__container">
    <div class="footer__top">
      <include src="html/partials/_logo.html">
        { "class": "footer__logo" }
      </include>
      <include src="html/partials/_subscription.html"> </include>
    </div>

    <a class="button" href="donate.html">Donate for volunteers</a>

    <div class="footer__bottom">
      <include src="html/partials/_social.html"></include>

      <nav class="nav footer__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link link {{aboutClass}}" href="index.html">About</a>
          </li>
          <li class="nav__item"><a class="nav__link link" href="#!">Map</a></li>
          <li class="nav__item">
            <a class="nav__link link" href="#!">Zoos</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="#!">Contact us</a>
          </li>
        </ul>
      </nav>

      <div class="footer__copy">
        <a
          class="link link--underlined"
          href="https://www.figma.com/file/jfEFwkXVj1WRq7sUHDr8os/PetStory-online"
          target="_blank"
          rel="noreferrer noopener"
          >Designed by Alisa Samborskaya</a
        >
        <a
          class="link link--underlined"
          href="https://rs.school/index.html"
          target="_blank"
          rel="noreferrer noopener"
          >&copy;RSSchool &amp; &copy;Yem Digital 2021</a
        >
      </div>
    </div>
  </div>
</footer>
