$card-gap: 130px;
$card-width: 168px;

.feed {
  padding-top: 70px;
  padding-bottom: 100px;

  background-image: $colors-bgLightOrange;

  @include media-desktop-small {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  @include media-tablet {
    padding: 20px 5px;
  }
}

.feed__container {
  @include media-tablet {
    padding: 0;
  }

  @include media-mobile {
    padding: 0 10px;
  }
}

.feed__content {
  padding: 40px 100px 60px;

  text-align: center;
  color: $colors-blueBlack;

  background-color: $colors-glassWhite;
  border-radius: $radii-l;

  @include media-desktop-small {
    padding: 30px 48px 50px;
  }
  @include media-tablet {
    padding: 10px 20px 60px;
  }
  @include media-mobile {
    padding: 20px 5px 40px;
  }
}

.feed__title {
  margin-bottom: 30px;

  @include font($weight: 400, $size: $fontSizes-H2);
  color: $colors-lightOrange;

  @include media-desktop-small {
    margin-bottom: 20px;
  }
  @include media-tablet {
    @include font($size: 42px);
    text-align: center;
  }
  @include media-mobile {
    margin-bottom: 10px;
    @include font($size: 24px);
  }
}

.feed__text {
  text-align: left;

  &--big {
    margin-bottom: 40px;
    @include font($size: $fontSizes-subtitle);

    @include media-desktop-small {
      margin-bottom: 20px;
    }
    @include media-tablet {
      @include font($size: 22px);
    }
    @include media-mobile {
      @include font($size: 18px);
      text-align: center;
    }
  }

  &--bold {
    margin-bottom: 10px;
    @include font($weight: 500, $height: 1.3);
    white-space: nowrap;

    @include media-desktop-small {
      white-space: normal;
    }
    @include media-mobile {
      display: none;
    }
  }

  &--normal {
    @include media-mobile {
      display: none;
    }
  }
}

.feed__link.link--underlined {
  text-decoration-color: $colors-lightOrange;
}

.feed__subtitle {
  margin-top: 60px;
  margin-bottom: 40px;

  @include font($weight: 400, $size: $fontSizes-H3, $height: 1.3);

  @include media-desktop-small {
    margin-top: 40px;
  }
  @include media-tablet {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  @include media-mobile {
    margin-top: 0;
    @include font($size: 24px);
  }
}

.feed__steps {
  display: flex;
  justify-content: center;
  gap: $card-gap;
  margin-bottom: 60px;

  @include media-desktop-small {
    margin-bottom: 70px;
  }
  @include media-tablet {
    gap: 42px;
    margin-bottom: 40px;
  }
  @include media-mobile {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 45px;
  }
}

.feed__step {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $card-width;

  @include font($height: 1.4);
  text-align: left;
}

.feed__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: $card-width;
  height: $card-width;

  @include border-bg(
    $border: $borders-s,
    $radius: $radii-m,
    $image: $colors-bgOrange,
    $bg-color: $colors-white
  );

  @include media-mobile {
    margin-bottom: 10px;
  }

  & > img {
    width: 130px;
  }

  .feed__step:not(:last-child) &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transform: translateX(100%);

    width: $card-gap;
    height: $card-width;

    background: url("../img/arrow-1.svg") center no-repeat;
    background-size: 72px;

    @include media-tablet {
      top: -20px;
      right: 35px;

      width: 90px;
      height: 30px;

      background-image: url("../img/arrow-2.svg");
      background-size: 90px;
    }
    @include media-mobile {
      top: unset;
      bottom: -60;
      right: -60;
      transform: rotate(85deg);
    }
  }
}
