.hero {
  position: relative;
  padding-top: 166px;
  padding-bottom: 100px;

  background: url("../img/panda-bg.jpg") no-repeat center / cover;

  @include media-desktop-small {
    padding-top: 123px;
    padding-bottom: 47px;

    background-size: 120%;
  }
  @include media-tablet {
    padding-top: 82px;
    padding-bottom: 88px;

    background-size: 120%;
  }
  @include media-mobile {
    padding-top: 75px;
    padding-bottom: 42px;

    background-position: top center;
  }
}

.hero__container {
  display: flex;
  justify-content: end;

  @include media-desktop-small {
    padding-right: 86px;
  }
  @include media-tablet {
    padding-right: 15;
  }
  @include media-mobile {
    padding-right: 10px;
  }
}

.hero__content {
  z-index: 1;

  max-width: 500px;
  text-align: center;

  @include media-desktop-small {
    max-width: 400px;
  }
  @include media-tablet {
    max-width: 255px;
  }
  @include media-mobile {
    max-width: 130px;
  }
}

.hero__title {
  position: relative;

  margin-bottom: 60px;

  @include font($weight: 700, $size: $fontSizes-hero, $height: 0.8);
  text-transform: uppercase;
  color: $colors-white;

  &-accent {
    color: $colors-yellow;
  }

  @include media-desktop-small {
    margin-bottom: 40px;
    @include font($size: 85px, $height: 0.75);
  }
  @include media-tablet {
    margin-bottom: 0;
    @include font($size: 54px);
  }
  @include media-mobile {
    @include font($size: 28px);
  }

  &::before {
    content: "";
    position: absolute;
    top: -74px;
    left: -74px;
    z-index: -1;

    width: 465px;
    height: 465px;

    background-image: $colors-bgOrange;
    border-radius: 50%;

    @include media-desktop-small {
      top: -54px;
      left: -58px;

      width: 367px;
      height: 367px;
    }
    @include media-tablet {
      top: -40px;
      left: -40px;

      width: 237px;
      height: 237px;
    }
    @include media-mobile {
      top: -20px;
      left: -20px;

      width: 119px;
      height: 119px;
    }
  }
}

.hero__button {
  @include media-tablet {
    position: absolute;
    left: 20;
    bottom: 40px;
  }
  @include media-mobile {
    left: 10px;
    bottom: -72px;

    width: calc(100% - 20px);
  }
}
